// colores
$ColorPrimario: #373a40;
$ColorSecundario: #686d76;
$ColorTexto: #eeeeee;
$ColorTextoSecundaio: #dc5f00;
$ColorBg: #151515;
$ColorBorder: #a91d3a;
$ColorTerciario: #fcdc2a;

// tamanos
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1279px,
);
